@media (max-width: 320px) {

   
    .header{
        height: 10%;
        
    }
    .logo{
        width: 18vw;
        
    }
    .navbar{
        padding: 20px;
    }

}



@media (max-width: 360px) {

    /********Titles****************/
    .h2Title{

    }
     /********AlignParagraphs****************/
    p,.policesSm{
        text-align: justify;
        font-size: 1.3rem;
        
    }
     /******** DisplayNone ****************/
    .fond-motif{
        background: none;
    }

    .btnCenterSm{
        text-align: center;
    }
    .header{
        height: 120px;
        
    }
    .logo{
        width: 18vw;
    }
    .navbar{
        padding: 10px;
    }

}

@media (max-width: 511px) {

    /********Titles****************/

     /********AlignParagraphs****************/
    p,.policesSm{
        text-align: justify;
        font-size: 1.3rem;
        
    }
     /******** DisplayNone ****************/
    .fond-motif{
        background: none;
    }

    footer p{
        text-align: center;
    }
    

    
}

@media (max-width: 460px) {

    .logo{
        width: 20vw;
    
    }

    .header{
        height: 30vh;
       
    }

    .navbar{
        padding: 10px;
    }

}

@media (max-width: 576px) {

    .logo{
        width: 20vw;
    
    }

    .header{
        height: 18vh;
       
    }

    .navbar{
        padding: 10px;
    }


}